# IDEA project files
.idea/
*.ipr
*.iml
*.iws

# Maven target directory
target/

# Big test files
src/test/resources/Parking_Tags_Data_2012.csv
parking_tickets_data_2012.zip

# archive of solutions
solutions/